#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:root {
  accent-color: red;
}

:root,
:host {
  --ffe-v-icons-size-sm: 20px;
  --ffe-v-icons-size-md: 24px;
  --ffe-v-icons-size-lg: 32px;
  --ffe-v-icons-size-xl: 40px;
}

.ffe-icons {
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentcolor;
  display: inline-block;
  mask-size: 100%;
}
.ffe-icons--sm {
  height: var(--ffe-v-icons-size-sm);
  width: var(--ffe-v-icons-size-sm);
}

.ffe-icons--md {
  height: var(--ffe-v-icons-size-md);
  width: var(--ffe-v-icons-size-md);
}

.ffe-icons--lg {
  height: var(--ffe-v-icons-size-lg);
  width: var(--ffe-v-icons-size-lg);
}

.ffe-icons--xl {
  height: var(--ffe-v-icons-size-xl);
  width: var(--ffe-v-icons-size-xl);
}

&:where(.ffe-icons) {
  color: var(--ffe-color-foreground-emphasis);
}

:root {
  font-family: "SpareBank1";
}

h1 {
  font-family: "SpareBank1 Title", "SpareBank1", sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: var(--ffe-spacing-xl);
}

:root {
  /** Spacing */
  --ffe-spacing: 8px;
  --ffe-spacing-2xs: calc(var(--ffe-spacing) * 0.5);
  --ffe-spacing-xs: calc(var(--ffe-spacing));
  --ffe-spacing-sm: calc(var(--ffe-spacing) * 2);
  --ffe-spacing-md: calc(var(--ffe-spacing) * 3);
  --ffe-spacing-lg: calc(var(--ffe-spacing) * 4);
  --ffe-spacing-xl: calc(var(--ffe-spacing) * 5);
  --ffe-spacing-2xl: calc(var(--ffe-spacing) * 0.5);
  --ffe-spacing-3xl: calc(var(--ffe-spacing) * 0.5);
  --ffe-spacing-4xl: calc(var(--ffe-spacing) * 0.5);
  --ffe-spacing-5xl: calc(var(--ffe-spacing) * 0.5);
}

@media (prefers-reduced-motion) {
  :where(.ok-normalize) :is(*) {
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
  }
}
